$meli-yellow: #FFE600;
$meli-blue: #3483FA;
$meli-light-gray: #EEEEEE;
$meli-medium-gray: #999999;
$meli-dark-gray: #666666;
$meli-black: #333333;

$meli-thin-padding: 16px;
$meli-wide-padding: 32px;

$meli-extra-info-font-size: 14px;
$meli-price-font-size: 46px;
$meli-product-name-font-size: 24px;
$meli-description-title-font-size: 28px;
$meli-paragraph-font-size: 16px;

$meli-img-width: 680px;