$meli-yellow: #FFE600;
$meli-light-gray: #EEEEEE;
$meli-medium-gray: #999999;
$meli-dark-gray: #666666;
$meli-black: #333333;

$meli-thin-padding: 16px;
$meli-wide-padding: 32px;

$meli-price-font-size: 24px;
$meli-product-name-font-size: 18px;
$meli-breadcrumbs-font-size: 14px;
$meli-location-font-size: 12px;

$meli-img-height: 180px;
$meli-img-width: 180px;
$meli-border-radius: 4px;

.list-img {
    padding: $meli-thin-padding;
    width: $meli-img-width;
    height: $meli-img-height;
    border-radius: $meli-border-radius;
}

.single-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: $meli-thin-padding;
    padding-bottom: $meli-wide-padding;    
    p {
        font-size: $meli-location-font-size;
        margin-left: auto;
    }
}

.price-shipping {
    display: flex;
    flex-direction: row;
    font-size: $meli-price-font-size;
}

.free-shipping-logo {
    max-height: 3em;
    align-self: center;
    margin: 0 10px;
}

h3 {
    font-size: $meli-product-name-font-size;
}

.not-img {
    width: 100%;
}