$meli-yellow: #ffe600;
$meli-medium-gray: #999999;
$meli-black: #333333;

$meli-search-font-size: 18px;

.search-bar {
    display: flex;
    align-items: center;
    background-color: $meli-yellow;
    padding: 7px 10%;
    height: 100%;
}

#meli-brand-logo {
    height: 30px;
}

#input-with-btn {
    display: flex;
    justify-content: end;
    width: 100%;
    input {
        height: 25px;
        width: 95%;
        border-radius: 0%;
    }

    button {
        border-radius: 0%;
        padding: 2px;

        img {
            height: 60%;
        }
    }
}

.inputspace {
    height: 100%;
    width: 70%;
    margin-left: 10px;
    font-size: 18px;
}