*|* {
  padding: 0%;
  margin: 0%;
  /* border: gray 1px solid; */
}
.App {
  background-color: #EEEEEE;
  height: 100vh;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #FFE600;
  padding: 5px 32px;
}

.inputspace {
  height: 100%;
  width: 70%;
  margin-left: 10px;
  font-size: 18px;
  /* color: #999999; */
}

button {
  height: 100%;
}
