.item-img {
  max-width: 100%;
  width: 680px;
}

.item-principal {
  width: 40%;
  padding-top: 32px;
}

.item-principal button {
  width: 90%;
  background-color: #3483fa;
  border-radius: 4%;
  border-color: #3483fa;
  color: white;
  padding: 5px 0;
}

.item-principal h3 {
  padding-top: 16px;
}

.price {
  padding: 32px 0px;
}

.description-section {
  padding-left: 32px;
  width: 60%;
}

.description-title,
.description-content {
  padding-bottom: 32px;
}

.list-img {
  padding: 16px;
  width: 180px;
  height: 180px;
  border-radius: 4px;
}

.single-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 16px;
  padding-bottom: 32px;
}

.single-line p {
  font-size: 12px;
  margin-left: auto;
}

.price-shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 24px;
}

.free-shipping-logo {
  max-height: 3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 10px;
}

h3 {
  font-size: 18px;
}

.not-img {
  width: 100%;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe600;
  padding: 7px 10%;
  height: 100%;
}

#meli-brand-logo {
  height: 30px;
}

#input-with-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

#input-with-btn input {
  height: 22px;
  width: 95%;
  border-radius: 0%;
  border-width: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 4px;
  font-size: 18px;
}

#input-with-btn button {
  border-radius: 0%;
  border-radius: 0%;
  border-width: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 4px;
}

#input-with-btn button img {
  height: 50%;
}

.inputspace {
  height: 100%;
  width: 70%;
  margin-left: 10px;
  font-size: 18px;
}

*|* {
  padding: 0%;
  margin: 0%;
  font-family: 'Inter', sans-serif;
  color: #333333;
}

body {
  background-color: #EEEEEE;
}

.breadcrumbs {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #666666;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80%;
  margin: 0% 10%;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  padding-right: 5%;
  border: #EEEEEE 1px solid;
}
/*# sourceMappingURL=App.css.map */