@import "./sass/details";
@import "./sass/results";
@import "./sass/search";

*|* {
  padding: 0%;
  margin: 0%;
  // border: gray 1px solid;
  font-family: 'Inter', sans-serif;
  color: $meli-black;
  text-decoration: none;
}

body {
  background-color: $meli-light-gray;
}

.breadcrumbs {
  padding: $meli-thin-padding;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  color: $meli-dark-gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  margin: 0% 10%;
}

.product-container {
  display: flex;
  flex-direction: row;  
  background-color: white;
  padding-right: 5%;
  border: $meli-light-gray 1px solid;
}
